{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'panel/ad.css' %} " type="text/css"/>
        
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>M</span>CodeTrybe</p>
        <h3> welcome {{ user.username}}
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Dashboard</a>
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Gallery</a>
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Profile</a>
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Forms</a>
        <a href="#" class="icon-a"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Projects</a>
    </div>

    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size: 30px; cursor: pointer; color: white;" class="nav">
                &#9776; Dashboard</span>
                <span style="font-size: 30px; cursor: pointer; color: white;" class="nav2">
                &#9776; Dashboard</span>
            </div>

            <div class="col-div-6">

                <img src="{% static 'images/team1.jpg' %}">
                <p>Whyte & Pelumi<span>UI / UX DESIGNER</span>
            </div>

            <div class="clearfix">i</div>
        </div>
    </div>
    






</body>
</html>

        
    