{% extends "panel/base.html" %}
{% block content %}
<div class="content_bottom">
<div class="col-md-8 span_3">
<div class="bs-example1" data-example-id="contextual-table">
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th> <a href="{%url 'panel-session'%}">Add New section</a></th>
    </tr>
    <tr>
            <th>#</th>
            <th> All section</th>
    </tr>
    </thead>
    <tbody>
        {% for section in  section_list %}
                <form action="{% url 'panel-secup' section.id %}" method="get">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{section}}">
                <tr class="active">
                    <td scope="row">{{ forloop.counter}} </td>
                    <td scope="row"> {{section}} </td>
                    <td><button type="submit" class="btn btn-primary btn-md">update</button></td>
        </form>
            <form action="{% url 'panel-secdel' section.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{section}}">
                <td><button type="submit" class="btn btn-danger btn-md">Delete</button></td>
                </tr>
        </form>
        {% endfor %}
    </tbody>
</table>
{% endblock %}